.bg-image{
    background-image: url(../../../assets/images/registration.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.reg-card{
    margin-top: 6.3rem;
    opacity: 0.9;
}