.pointer{
    cursor: pointer;
}
.dotRed {
    height: 7px;
    width: 7px;
    background-color: rgb(247, 78, 78);
    border-radius: 50%;
    display: inline-block;
  }

  .dotGreen {
    height: 7px;
    width: 7px;
    background-color: rgb(90, 243, 59);
    border-radius: 50%;
    display: inline-block;
  }
  